

<div align="center">
<h1>GUESS THE ROAD SIGN</h1>
<br>
<%= session[:points]%>
<br>
<h3><%= link_to 'Start Game', grs_start_path %></h3>
<br>
<%= link_to 'New Road Sign', new_road_sign_path %>
<br>
<% @road_signs.each do |road_sign| %>
  <%= image_tag road_sign.image_url(:display) if road_sign.image? %>
<% end %>
</div>
