
<div align ="center">
<%= image_tag @road_sign.image_url(:display) if @road_sign.image? %>
<br>
<%= form_for :answer, url: grs_check_path(page: params[:page]) do |f| %>
  <%= f.label :answer%>
  <%= f.text_field :answer, :autocomplete => :off%>

  <%= f.submit :submit, {class: "btn btn-default"}%>
<% end %>

<!-- <% if params[:page].to_i < 5 %>
  <%= link_to 'next', grs_page_path(params[:page].to_i + 1) %>
<% else %>
  <%= link_to 'back', grs_index_path %>
<% end %> -->
</div>