<script>
  <% for i in (0..(@routes.count-1)) %>
    var waypoints = [];
    <% @waypoints[i].each do |e|%>
      waypoints.push(new Waypoint("<%=e.name%>", new google.maps.LatLng(<%=e.lat%>, <%=e.lag%>), null));
    <% end %>
    var <%= @routes[i].name %> = new Route();
    <%= @routes[i].name %>.route = waypoints;
  <% end %>

  currentPosition = new Waypoint("<%=@start.name%>", new google.maps.LatLng(<%=@start.lat%>, <%=@start.lag%>), null);
  target = new Waypoint("<%=@end.name%>", new google.maps.LatLng(<%=@end.lat%>, <%=@end.lag%>), null);


  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div class="container">
  <div class="row">
      <div class="col-md-9">
        <div class="panel">
        <div class="map-container">
          <div id="map-canvas"></div>
        </div>
      </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-primary">
              <div class="panel-heading">Controls</div>
              <div class="panel-body">
                <% @routes.each do |route| %>
                 <button onclick="viewRoute(<%= route.name %>)" class="btn btn-primary btn-large">Show <%= route.name %> Route</button>
                <% end %>
                <button onclick="clearRoute()" class="btn btn-primary">Clear Route</button>
                <%= link_to "Reset", welcome_game_path, {class: "btn btn-danger"}%>
                <p> You currently at: <b id="currentPos"></b></p>
                <p> Your target is at: <b id="currentTarget"></b></p>
                <p> You currently have: Php <b id="currentFun"></b></p>
                <p id="errors"></p>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
