<div class="container">
  <div class="row">
      <div class="jumbotron">
        <h3>Play Now1</h3>
        <%= link_to "Commuting for Dummies", welcome_select_path, {class: "btn btn-primary"} %>
        <br/>
        <%= link_to "Guess that Sign", grs_index_path, {class: "btn btn-primary"} %>
      </div>
  </div>
</div>
