<div align="center">

  <h2> Levels </h2>

  <p>
    <% @levels.each do |l| %>
    <%= l.start %>:<%= l.endd %>:<%= l.fare %><br/>
    <%= link_to "Play", welcome_game_path(l.id), {class: "btn btn-success"}%>
    <%end%>
  </p>

  <p>
    <%= link_to 'New Level', new_level_path %><br>
    <%= link_to 'New Waypoints', waypoints_path%><br>
    <%= link_to 'New Routes', routes_path %>
  </p>
</div>
