<%= form_for(@waypoint) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :lat %>
	<%= f.text_field :lat %>
	
	<%= f.label :lag %>
	<%= f.text_field :lag %>

	<%= f.submit %>
<% end %>