<div align="center">

  <h2> Levels </h2>

  <p>
    <% @levels.each do |l| %>
      <%= l.start %>:<%= l.endd %>:<%= l.fare %>
      <%= link_to 'Show', level_path(l.id) %>
    <%end%> 
  </p>

  <p>
    <%= link_to 'New Level', new_level_path %>
  </p>
</div>