<div align="center">
<h2> New Level </h2>

  <div class="container">
  <%= form_for :level,  url: levels_path do |f| %>
    <p>
      <%= f.label :fare %>
      <%= f.text_field :fare %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <%end%>
  </div>

</div>