<div align="center">
  <h2> Available Waypoints </h2>

  <p>
  <% @waypoints.each do |w| %>
    <%= w.name %>
    <%= link_to 'Set', level_save_end_path(@level.id, w.id) %>
    <br>
  <% end %>
  </p>
</div>