<div align="center">

  <p>
    <%= @level.start %>
    <%= link_to 'Set Start', level_set_start_path(@level.id) %>
  </p>
  <p>
    <%= @level.endd %>
    <%= link_to 'Set End', level_set_end_path(@level.id) %>
  </p>
  <p>
    <%= @level.fare %>
  </p>

</div>