<%= form_for(@waypoint) do |f| %>
  <% if @waypoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waypoint.errors.count, "error") %> prohibited this waypoint from being saved:</h2>

      <ul>
      <% @waypoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>  
  <br>
  <%= f.label :lat %>
  <%= f.text_field :lat %>  
  <br>
  <%= f.label :lag %>
  <%= f.text_field :lag %>  
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
