<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f. label :name %>
  <%= f.text_field :name %>

  <div class="actions">
    <%= f.submit :submit, {class: "btn btn-success"}%>
  </div>
<% end %>
