<div class="container">

Available Waypoints
<br>
<% @waypoints_list.each do |w| %>
	<%= link_to w.name, route_add_link_path(@route.id, w.id) %><br>
	<%= w.lat %>, <%= w.lag %>
	<hr/>
<% end %>
Added Waypoints
<br>
<% @waypoints_list2.each do |w| %>
  <%= w.name %><br>
  <%= w.lat %>, <%= w.lag %>
	<hr/>

<% end %>
<br><br>
<%= link_to 'Back', routes_path %>

</div>
