<div class="container">
  <h1>Available Routes</h1>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
      	<td><b><%= route.name %></b></td>
      	<td><%= link_to 'Show', route_path(route.id) %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
        <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Route', new_route_path , {class: "btn btn-default"}%>
</div>
