// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body
  height: 100%
  background: #eee

#map-canvas
  width: 90%
  height: 90%
  margin: 0
  padding: 0

.map-container
  height: 800px
  width: 950px
