<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfG9hNRIMRZVBgnXryD5A3WBy8B2hExBo">
  </script>

  <%= javascript_include_tag 'application'%>

</head>
<body>
<%= render 'layouts/navbar'%>
<%= yield %>

</body>
</html>
